@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.cardsIndex {
    position: relative;
    width: 80vw;
    height: 750px;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 80px;
    padding: 10px;
    background-image: url('../assets/imagens/borda.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.cardsIndex>ul {
    display: flex;
    justify-content: space-between;
}

.cardsIndex>ul>li {
    border: 1px solid white;
    border-radius: 10px;
    width: 15vw;
    height: 480px;
    margin-top: 120px;
    
}

.cardsIndex>h2 {
    background: -webkit-linear-gradient(rgba(224,120,44,1) 0%, rgba(241,212,51,1) 53%, rgba(161,88,54,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    padding-top: 50px;
}

.oscar {
    width: 60px;
    position: absolute;
    right: 30%;
    top: 2%;
}