@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

.sectionTerrorIndex {
    width: 80vw;
    height: 750px;
    /*border: 1px solid white;*/
    margin: 0 auto;
    box-sizing: border-box;
    background-image: url('../assets/imagens/fundoTerror.png');
    background-size: 1300px;
    background-repeat: no-repeat;
    background-position: 500px;
    position: relative;
    background-color: rgba(238, 238, 238, 0);
    box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
    border-radius: 20px;
}

.imgTerrorIndex {
    width: 250px;
    position: absolute;
    left: -120px;
    top: 50px;
    transition: 3s;
}


.imgTerrorIndex:hover {
    transition: 5s;
    transform: scale(0.5);
    left: -400px;
}


.sangue {
    position: absolute;
    width: 300px;
    top: 200px;
    right: -100px;
    transition: 2s;
}


.sangue:hover {
    transition: 3s;
    transform: scale(1.5);
    right: 100px;
}

h2.tituloSectionTerror {
    padding-top: 50px;
    font-family: 'Rubik Wet Paint', cursive;
    color: white;
    font-size: 2.5rem;
    text-align: left;
    margin-left: 90px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2.tituloSectionTerror2 {
    color: rgb(255, 255, 255);
    font-size:  3rem;
    position: absolute;
}


.assistaTerror {
    position: absolute;
    width: 300px;
    bottom: -120px;
    left: 43%;
    transition: 1s;
    cursor: pointer;
}

.assistaTerror:hover {
    transition: 1s;
    transform: scale(1.2);
}


.filmesTerrorIndex {
    position: absolute;
    display: flex;
    height: 500px;
    width: 60vw;
    top: 110px;
    left: 10%;
    justify-content: space-between;
    flex-wrap: wrap;
}


.filmesTerrorIndex img {
    width: 200px;
    transition: 1.5s;
}

.filmesTerrorIndex img:hover {
    transition: 1.5s;
    transform: scale(1.1);
}

.filmesTerrorIndex>a {
    text-decoration: none;
}

.figcaptionPastasTerror {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: sans-serif;
    opacity: 0.9;
    font-weight:bold;
    letter-spacing: 2px;
}

